* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --canvas-size: 760px;
  --settings-size: 300px;

  --padding: 20px;
  --border-radius: 20px;

  --color-red: rgb(226, 11, 11);
  --color-black: rgb(40, 40, 40);
}

body {
  background: rgb(255, 255, 255);
  font-family: sans-serif;
  color: var(--color-black);
  font-size: 16px;
}

h1 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 0;
}

h3 {
  margin-bottom: 0.5em;
}

#cover {
  display: block;
  width: var(--canvas-size);
  height: var(--canvas-size);
  border-radius: var(--border-radius);
  overflow: hidden;
}

main {
  margin: 0 auto;
  padding: var(--padding);
  display: flex;
  gap: var(--padding);
  justify-content: space-between;
  flex-direction: row-reverse;
}


#settings {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--padding));
  flex: 0 0 1;
  max-width: var(--settings-size);
  background: rgb(240, 240, 240);
  color: var(--color-red);
  padding: var(--padding);
  height: calc(100vh - 2* var(--padding));
  border-radius: var(--border-radius);
}

svg {
  fill: var(--color-red);
  overflow: visible;
}

path,
ellipse,
circle {
  stroke: var(--color-red);
}

#settings section {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: var(--padding);
  border-radius: var(--border-radius);
  text-align: center;
}

#settings section textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
  border: none;
}

#settings section input[type="color"] {
  width: 100%;
  height: 40px;
}

#settings section#colors .two-columns {
  display: flex;
  gap: calc(0.5 * var(--padding));
}

#settings section#colors .two-columns>* {
  flex: 1;
  font-size: 12px;
}

#download {
  width: 100%;
  padding: 30px;
  border-radius: var(--border-radius);
  font-size: inherit;
  font-family: inherit;
  border: none;
  background: var(--color-red);
  color: white;
}

@media screen and (max-width: 1120px) {
  main {
    flex-direction: column;
  }
}