---
import Canvas from "../components/canvas/Canvas.astro";
import Header from "../components/Header.astro";
import Settings from "../components/settings/Settings.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>LISTOMATO</title>
  </head>
  <body
    ><main>
      <Header />

      <Canvas />
      <Settings />
    </main>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: Geist;
    src: url(/fonts/Geist-Medium.ttf);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    /* Colors */
    --color-red: red;
    --color-black: #181818;
    --color-white: #ededed;
    --color-offwhite: #303030;

    /* Canvas */
    --canvas-size: 350px;

    /* Dimensions */
    --border-radius: 25px;
    --padding: 20px;
    --sidebar: 250px;
  }

  body {
    background: white;
    font-size: 16px;
    font-family: "Geist", sans-serif;
  }

  main {
    width: 100vw;
    display: flex;
    gap: var(--padding);
    border-radius: var(--border-radius);
    margin: 0 auto;
    padding: var(--padding);
    height: 100vh;
  }

  @media screen and (max-width: 800px) {
    main {
      flex-direction: column;
      gap: calc(3 * var(--padding));
    }
  }
</style>
