---
import Illustration from "./Illustration.astro";
---

<header>
  <h1 aria-label="LISTOMATIO — An Artwork Generator For Playlists">
    <Illustration />
    LISTOMATO — An Artwork Generator For Playlists
  </h1>
  <div id="description">
    <p>
      <strong>LISTOMATO 🍅</strong> is a free generator for playlist artworks in
      Spotify, Apple Music or any other service.
    </p>
    <p>
      It was designed and developed by <a
        href="https://felix-buhler.de"
        title="Website of Felix Buhler"
        target="_blank">Felix Buhler</a
      >—designer and art director from Berlin (D).
    </p>
    <p>
      It is build with <a href="https://p5js.org" title="P5.JS" target="_blank"
        >P5.js</a
      >, <a href="https://astro.build" title="Astro">Astro</a>
      and <a href="https://vercel.com/" title="Vercel" target="_blank"
        >Vercel.</a
      >
    </p>
    <p>
      <br />⁕ <a
        id="donate-button"
        href="https://www.paypal.com/paypalme/felixbuhler"
        title="Donate on PayPal"
        target="_blank">Buy me a tomato</a
      > ⁕
      <br />
      <br />
    </p>
    <p>▋&nbsp;&nbsp;▋&nbsp;&nbsp;▋&nbsp;&nbsp;▋&nbsp;&nbsp;▋</p>
    <p id="version">Version <br>1.1 28.8.2025</p>
  </div>
</header>

<style>
  header {
    margin-bottom: var(--padding);

    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--padding);
  }

  p {
    max-width: 150px;
    font-size: 0.8rem;
    color: var(--color-red);
    margin-bottom: 0.5em;
    text-align: center;
  }

  a {
    color: inherit;
  }

  h1 {
    font-size: 0px;
  }

  #donate-button {
    text-decoration: none;
    background: var(--color-red);
    color: white;
    border-radius: 4em;
    padding: 0.1em 0.5em;
  }

  #version {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 0.075em;
  }

  @media screen and (max-width: 800px) {
    p {
      max-width: var(--canvas-size);
    }
  }
</style>
