---

---

<section id="section-color" class="setting">
  <h2>Colors</h2>
  <input id="color-top" type="color" name="color-top" value="#ff00ff" />
  <input id="color-bottom" type="color" name="color-bottom" value="#ff0000" />
</section>


