---

---

<section id="section-download" class="setting">
  <button id="download">Download</button>
</section>

<style>
  #section-download {
    text-align: right;
    padding-bottom: var(--padding);
  }

  #download { margin-top: 2rem;
    padding: calc(0.5 * var(--padding)) calc(0.75 * var(--padding));
    background-color: var(--color-red);
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    color: white;
  }
</style>
